
<footer class="site-footer">
  <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Recipe Day is here to help you cook delicious meals with less stress and more joy. We offer recipes and cooking advice for home cooks, by home cooks. </p>
        </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">App width angular, more in
          <a href="https://www.dayerlin.es">dayerlin.es</a>.
        </p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="instagram" href="https://www.instagram.com/dayerlin_bustamante/?hl=es">Ig</a></li>
          <li><a class="gitHub" href="https://github.com/dayerlin-bustamante">G</a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/in/dayerlin-bustamante-680b52232/">Ln</a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>