.sp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn {
    background-color:#9fe870;
    color: black;
}
img {
    width: 180px;
    max-height: 250px;
    object-fit: cover;
}
.btn-group {
    margin-top: 26px;
}
.list-group {
    max-width: 300px;
}
.recipi-detail {
    margin-top: 42px;
    background-color: white;
    border-radius: 8px;
    .badge {
        background-color: #d43636;
    }
    .ingredients-required{
        margin-top: 32px;
        h5{
            margin-bottom: 16px;
        }
    }
}
/* Hide the default checkbox */
.contain input {
    position: relative;
    opacity: 1;
    -webkit-appearance: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(0,0,70,0.12);
    border-radius: 50%;
    border: 8px solid #ececec;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    margin-right: 8px;
  }
  
  .contain {
    margin-top: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    label {
        font-size: 14px;
        font-weight: 300;
    }
  }
  
  .contain input::after {
    transition: .5s;
    font-family: monospace;
    content: '';
    color: #7a7a7a;
    font-size: 25px;
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid #7a7a7a;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
  }
  
  .contain input:checked {
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -10px -10px 15px rgba(255,255,255,0.5),
    inset 10px 10px 15px rgba(70,70,70,0.12);
    transition: .5s;
  }
  
  .contain input:checked::after {
    transition: .5s;
    border: solid #15e38a;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
  }
  